<div id="app">
  <div class="tc-container tc-mb-8">
    <form class="tc-grid tc-grid-cols-4">
      <div class="tc-col-span-4" v-if="alertPopup">
        <div class="tc-text-white tc-px-6 tc-py-4 tc-border-0 tc-rounded tc-relative tc-mb-4 tc-bg-red-400">
          <span class="tc-text-xl tc-inline-block mr-5 tc-align-middle">
            <i class="fas fa-info-circle"></i>
          </span>
          <span class="tc-inline-block tc-align-middle tc-mr-8">
            <b class="tc-font-bold">{{ alertMessage }}</b>
          </span>
          <div class="tc-absolute tc-leading-none tc-right-4 tc-top-0 tc-mt-4">
            <svg @click="alertPopup = false" width="32" xmlns="http://www.w3.org/2000/svg"
              class="tc-cursor-pointer tc-text-white" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </div>
        </div>
      </div>
      <div class="tc-col-span-4 tc-sm:col-span-4 tc-md:col-span-4 tc-lg:col-span-1 tc-xl:col-span-1 tc-px-4">
        <label>Client ID</label>
        <input type="text" class="tc-text-base tc-w-full tc-mt-2" v-model="netpieConfig.client_id"
          style="border-radius: 1.5rem" />
      </div>
      <div class="tc-col-span-4 tc-sm:col-span-4 tc-md:col-span-4 tc-lg:col-span-1 tc-xl:col-span-1 tc-px-4">
        <label>Token</label>
        <input type="text" class="tc-text-base tc-w-full tc-mt-2" v-model="netpieConfig.token"
          style="border-radius: 1.5rem" />
      </div>
      <div class="tc-col-span-4 tc-sm:col-span-4 tc-md:col-span-4 tc-lg:col-span-1 tc-xl:col-span-1 tc-px-4">
        <label>Secret</label>
        <input type="password" class="tc-text-base tc-w-full tc-mt-2" v-model="netpieConfig.secret"
          style="border-radius: 1.5rem" />
      </div>
      <div
        class="tc-col-span-4 tc-sm:col-span-4 tc-md:col-span-4 tc-lg:col-span-1 tc-xl:col-span-1 tc-px-4 flex tc-flex-col tc-justify-center tc-items-center">
        <label style="color: #ffffff">.</label>
        <button type="button"
          :class="['tc-rounded-full tc-w-full tc-focus:outline-none', mqttConnected ? 'tc-bg-green-500 tc-hover:bg-green-500 tc-focus:bg-green-500' : 'tc-bg-red-400 tc-hover:bg-red-400 tc-focus:bg-red-400']"
          @click="netpieConnect">
          {{ mqttConnected ? 'Disconnect' : 'Connect' }}
        </button>
      </div>
    </form>

    <div class="tc-grid tc-grid-cols-1 tc-mt-8 tc-px-4 tc-pt-4 tc-bg-gray-100 tc-rounded-2xl" v-if="mqttConnected">
      <div class="tc-col-span-1 tc-flex tc-justify-between tc-pb-5">
        <div>
          <h3>Publish</h3>
        </div>
      </div>
      <div
        class="tc-grid tc-grid-cols-6 tc-mb-4 tc-border tc-border-gray-300 tc-rounded-2xl tc-pt-5 tc-pb-3 tc-px-5 tc-bg-white">
        <div class="tc-col-span-6 tc-sm:col-span-6 tc-md:col-span-6 tc-lg:col-span-6 tc-xl:col-span-6 tc-mb-4">
          <div class="tc-flex tc-justify-center tc-items-center">
            <span class="tc-whitespace-nowrap tc-font-bold">Topic&ensp;</span>
            <input type="text" placeholder="@msg/topic" class="tc-w-full"
              style="border-radius: 1.5rem; padding-left: 14px; padding-right: 14px" v-model="pub.topic">
          </div>
        </div>
        <div class="tc-col-span-6 tc-sm:col-span-6 tc-md:col-span-6 tc-lg:col-span-5 tc-xl:col-span-5 tc-mb-4">
          <div class="tc-flex tc-justify-center tc-items-center">
            <span class="tc-whitespace-nowrap tc-font-bold">Message&ensp;</span>
            <input type="text" placeholder="" class="tc-w-full"
              style="border-radius: 1.5rem; padding-left: 14px; padding-right: 14px" v-model="pub.payload">
          </div>
        </div>
        <div class="tc-col-span-6 tc-sm:col-span-6 tc-md:col-span-6 tc-lg:col-span-1 tc-mb-4">
          <div class="tc-flex tc-justify-center">
            <button type="button"
              class="tc-rounded-full tc-focus:outline-none tc-ml-4 tc-bg-green-500 tc-hover:bg-green-500 tc-focus:bg-green-500"
              @click="publish">
              Publish
            </button>
          </div>
        </div>
        <div class="tc-col-span-6 tc-sm:col-span-6">
          <div class="tc-py-3">
            <p class="tc-text-xl"><span class="tc-text-gray-400">Publish message / {{ pub.timestamp }}</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="tc-grid tc-grid-cols-1 tc-mt-8 tc-px-4 tc-pt-4 tc-bg-gray-100 tc-rounded-2xl" v-if="mqttConnected">
      <div class="tc-col-span-1 tc-flex tc-justify-between tc-pb-5">
        <div>
          <h3>Subscribe</h3>
        </div>
        <div>
          <div
            class="tc-flex tc-justify-center tc-items-center tc-w-full tc-rounded-full tc-bg-green-500 tc-hover:bg-green-500 tc-focus:bg-green-500 tc-focus:outline-none tc-text-white tc-px-3 tc-py-2 tc-cursor-pointer"
            @click="addWidget">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                clip-rule="evenodd" />
            </svg>
            <span class="tc-pr-2">Add subscriber</span>
          </div>
        </div>
      </div>
      <div
        class="tc-grid tc-grid-cols-6 tc-mb-4 tc-border tc-border-gray-300 tc-rounded-2xl tc-pt-5 tc-pb-3 tc-px-5 tc-bg-white"
        v-for="(widget, index) in widgets" :key="index">
        <!-- begin fields -->
        <div class="tc-col-span-6 tc-sm:col-span-6 tc-md:col-span-3 tc-lg:col-span-3 tc-xl:col-span-3 tc-mb-4">
          <div class="tc-flex tc-justify-center tc-items-center">
            <span class="tc-whitespace-nowrap tc-font-bold">Topic&ensp;</span>
            <input type="text" placeholder="@msg/topic" class="tc-w-full"
              style="border-radius: 1.5rem; padding-left: 14px; padding-right: 14px" v-model="widgets[index].topic">
          </div>
        </div>
        <div class="tc-col-span-5 tc-sm:col-span-5 tc-md:col-span-2 tc-mb-4">
          <button type="button"
            :class="['tc-rounded-full tc-focus:outline-none tc-ml-4 tc-w-full', widgets[index].activeSubscript ? 'tc-bg-green-500 tc-hover:bg-green-500 tc-focus:bg-green-500' : 'tc-bg-red-400 tc-hover:bg-red-400 tc-focus:bg-red-400']"
            @click="subscribeWidget(index)">
            Subscribe
          </button>
        </div>
        <div class="tc-col-span-1 tc-sm:col-span-1 tc-md:col-span-1 tc-mb-4">
          <div class="tc-flex tc-justify-end tc-items-center" style="height: 47px">
            <svg @click="handleCloseWidget(widget.id)" width="32" xmlns="http://www.w3.org/2000/svg"
              class="tc-cursor-pointer tc-text-red-500" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </div>
        </div>
        <div class="tc-col-span-6 tc-sm:col-span-6">
          <div class="tc-py-3">
            <p class="tc-text-xl"><span class="tc-text-gray-400">Receive message :</span> <span
                class="tc-font-bold">{{ widget.payload }}</span></p>
            <div class="tc-flex">
              <p class="tc-text-gray-400 tc-pt-1">{{ widget.timestamp }}</p>
            </div>
          </div>
        </div>
        <!-- end fields -->
      </div>
    </div>
  </div>
</div>

<script>
  var app = new Vue({
    el: "#app",
    data() {
      return {
        netpieConfig: {
          client_id: "",
          token: "",
          secret: "",
        },
        mqttConnected: false,
        widgets: [],
        websocket: null,
        alertPopup: false,
        alertMessage: '',
        pub: {
          topic: '',
          payload: '',
          timestamp: ''
        }
      };
    },
    methods: {
      netpieConnect() {
        if (this.netpieConfig.client_id.length > 0 && this.netpieConfig.token.length > 0 && this.netpieConfig.secret
          .length > 0) {
          this.alertPopup = false;
          if (this.mqttConnected) {
            this.websocket.disconnect();
          } else {
            this.websocket.connect()
          }
        } else {
          this.alertMessage = 'Connection Error.';
          this.alertPopup = true;
        }
      },
      addWidget() {
        this.widgets.push({
          id: this.widgets.length + 1,
          topic: '',
          activeSubscript: false,
          payload: '',
          timestamp: ''
        })
      },
      subscribeWidget(index) {
        let topic = this.widgets[index].topic
        let state = this.websocket.subscribe(topic, 0, '#000000')
        this.widgets[index].activeSubscript = state
        if (!state) {
          this.websocket.unsubscribe(topic)
        }
      },
      publish() {
        console.log(`publish`)
        this.websocket.publish(this.pub.topic, this.pub.payload, 0, false)
      },
      handleCloseWidget(id) {
        let widget = this.widgets.filter(widget => widget.id == id);
        if (widget.activeSubscript) {
          this.websocket.unsubscribe(widget.topic)
        }
        this.widgets = this.widgets.filter(widget => widget.id != id)
      },
    },
    mounted() {
      let that = this

      websocketclient = {
        client: null,
        lastMessageId: 1,
        lastSubId: 1,
        subscriptions: [],
        messages: [],
        connected: false,
        connect: function () {
          var host = "mqtt.netpie.io";
          var port = 443;
          var clientId = that.netpieConfig.client_id;
          var username = that.netpieConfig.token;
          var password = that.netpieConfig.secret;
          var keepAlive = 60;
          var cleanSession = true;
          var lwTopic = "";
          var lwQos = 0;
          var lwRetain = false;
          var lwMessage = "";
          var ssl = true;

          this.client = new Messaging.Client(host, port, clientId);
          this.client.onConnectionLost = this.onConnectionLost;
          this.client.onMessageArrived = this.onMessageArrived;

          var options = {
            timeout: 3,
            keepAliveInterval: keepAlive,
            cleanSession: cleanSession,
            useSSL: ssl,
            onSuccess: this.onConnect,
            onFailure: this.onFail,
          };

          if (username.length > 0) {
            options.userName = username;
          }
          if (password.length > 0) {
            options.password = password;
          }
          if (lwTopic.length > 0) {
            var willmsg = new Messaging.Message(lwMessage);
            willmsg.qos = lwQos;
            willmsg.destinationName = lwTopic;
            willmsg.retained = lwRetain;
            options.willMessage = willmsg;
          }

          this.client.connect(options);
        },
        onConnect: function () {
          websocketclient.connected = true;
          that.mqttConnected = true;
          console.log("connected");
          // save config to database

          fetch('/wp-json/netpie/v1/save', {
              method: 'POST',
              body: JSON.stringify({
                ...that.netpieConfig
              })
            })
            .then((r) => r.json())
            .then((res) => console.log(res));
        },
        onFail: function (message) {
          websocketclient.connected = false;
          console.log("error: " + message.errorMessage);
          this.alertMessage = 'Connection Error.';
          that.alertPopup = true;
        },
        onConnectionLost: function (responseObject) {
          websocketclient.connected = false;
          if (responseObject.errorCode !== 0) {
            console.log("onConnectionLost:" + responseObject.errorMessage);
          }
        },
        onMessageArrived: function (message) {
          //        console.log("onMessageArrived:" + message.payloadString + " qos: " + message.qos);
          var subscription = websocketclient.getSubscriptionForTopic(message.destinationName);
          var messageObj = {
            topic: message.destinationName,
            retained: message.retained,
            qos: message.qos,
            payload: message.payloadString,
            timestamp: moment(),
            subscriptionId: subscription.id,
            color: websocketclient.getColorForSubscription(subscription.id),
          };
          console.log(messageObj);

          that.widgets.forEach((widget, index) => {
            if (widget.topic == messageObj.topic) {
              that.widgets[index].payload = messageObj.payload
              that.widgets[index].timestamp = moment(messageObj.timestamp).format('MMMM Do YYYY, h:mm:ss a')
            }
          })
        },
        disconnect: function () {
          this.client.disconnect();
          that.mqttConnected = false;
        },
        publish: function (topic, payload, qos, retain) {
          if (topic.length < 1) {
            that.alertMessage = `Publish topic can't be left empty.`;
            that.alertPopup = true;
            return false;
          }

          if (!websocketclient.connected) {
            return false;
          }
          var message = new Messaging.Message(payload);
          message.destinationName = topic;
          message.qos = qos;
          message.retained = retain;
          this.client.send(message);
          that.pub.timestamp = moment().format('MMMM Do YYYY, h:mm:ss a');
        },
        subscribe: function (topic, qosNr, color) {
          if (!that.mqttConnected) {
            return false;
          }
          if (topic.length < 1) {
            that.alertMessage = `Subscribe can't be left empty.`;
            that.alertPopup = true;

            return false;
          }
          if (_.find(this.subscriptions, {
              topic: topic
            })) {
            return false;
          }
          this.client.subscribe(topic, {
            qos: qosNr
          });
          if (color.length < 1) {
            color = "999999";
          }
          var subscription = {
            topic: topic,
            qos: qosNr,
            color: color
          };
          this.subscriptions.push(subscription);
          return true;
        },
        unsubscribe: function (topic) {
          // console.log(`>>> unsubscribe ${topic}`)
          that.websocket.subscriptions = that.websocket.subscriptions.filter(item => item.topic != topic)
        },
        deleteSubscription: function (id) {
          var elem = $("#sub" + id);

          if (confirm("Are you sure ?")) {
            elem.remove();
            this.unsubscribe(id);
          }
        },
        getRandomColor: function () {
          var r = Math.round(Math.random() * 255).toString(16);
          var g = Math.round(Math.random() * 255).toString(16);
          var b = Math.round(Math.random() * 255).toString(16);
          return r + g + b;
        },
        getSubscriptionForTopic: function (topic) {
          var i;
          for (i = 0; i < this.subscriptions.length; i++) {
            if (this.compareTopics(topic, this.subscriptions[i].topic)) {
              return this.subscriptions[i];
            }
          }
          return false;
        },
        getColorForPublishTopic: function (topic) {
          var id = this.getSubscriptionForTopic(topic);
          return this.getColorForSubscription(id);
        },
        getColorForSubscription: function (id) {
          try {
            if (!id) {
              return "99999";
            }

            var sub = _.find(this.subscriptions, {
              id: id
            });
            if (!sub) {
              return "999999";
            } else {
              return sub.color;
            }
          } catch (e) {
            return "999999";
          }
        },
        compareTopics: function (topic, subTopic) {
          var pattern = subTopic.replace("+", "(.*?)").replace("#", "(.*)");
          var regex = new RegExp("^" + pattern + "$");
          return regex.test(topic);
        },
      }

      this.websocket = websocketclient;

      fetch('/wp-json/netpie/v1/load', {
          method: 'GET'
        })
        .then((r) => r.json())
        .then((res) => {
          let data = JSON.parse(res);
          that.netpieConfig = {
            client_id: data.client_id[0],
            token: data.token[0],
            secret: data.secret[0],
          }
        });
    }
  });
</script>
<style>
  .dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
  }

  .text-blue-500 {
    --tw-text-opacity: 1;
    color: rgba(14, 165, 233, var(--tw-text-opacity));
  }

  .border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  }

  .text-gray-500 {
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity));
  }
</style>